.DS_Store
.idea
*.vcd
*.fst
*.xml
*.d
*.o
*.a
*.dat
*.pyc
*.h
*.mk
*.cpp
*.fst.hier
*/sim_build/*/*
*/sim_build/rtl/*
*/__pycache__/*
Vtop
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
